.todos-title {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 18px;
  color: #484848;
}
.pink {
  color: #f60051;
  display: inline;
}
.name-text {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #484848;
}

.todos-body {
  height: 644px;
  position: relative;
  width: 100%;

  background-color: #d8d8d8;
}

.todos-container {
  padding: 10px;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.overlay-shadow {
  background: linear-gradient(
    0deg,
    rgba(139, 139, 139, 1) 0%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 76px;
  z-index: 100;
  width: inherit;
  bottom: 0;
  position: absolute;
}
.todo {
  margin-bottom: 10px;
}
.todo-header {
  background-color: #f4f4f4;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #484848;
  padding: 12px 18px;
  border-radius: 3px 3px 0 0;
}
.todo-body {
  background-color: white;
  border-radius: 0 0 3px 3px;
}
.post {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.post-date {
  display: flex;
  flex-direction: row;
}
.date-text {
  font-size: 9px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-left: 3px;
}
.post-content {
  margin-left: 5px;
}
.post-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-img {
  height: 100%;
}
.post-img-circle {
  margin-right: 5px;
}
.grey {
  color: #c6c6c6;
}
.todo-text {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #484848;
  margin-top: 3px;
}
.todo-text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3px;
}
.todo-text-col {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.followers {
  text-transform: uppercase;
  font-size: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  width: 48px;
}
.followers-num {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px 10px;
}
.todo-btn {
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  text-align: center;
  color: #f60051;
  background-color: transparent;
  margin: 5px;
  border: 1px solid #d9d9d9;
}
@media only screen and (max-width: 600px) {
  #todos {
    width: 100%;
    margin: 0;
  }
  .todos-title {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 601px) {
  #todos {
    width: 50%;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 850px) {
  #todos {
    width: 30%;
    margin: 0 0 0 21px;
  }
}
